/*
   
   CyberPunk About Us Page Stylesheet
   
   Filename: aboutus.css

*/

/*The Header*/

.about {
	cursor: pointer;
	background-color: rgba(83, 86, 101, 0.92);
	padding-top: 20px;
	padding-bottom: 30px;
}

/*H1 styles*/

.about h1 {
	padding: 70px 0 50px 0;
	margin-bottom: 20px;
	color: whitesmoke;
}

/*H2 Styles*/

.about h2 {
	opacity: 0.8;
}

/*The circle icons to make it spin*/

.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: auto;
	border-radius: 50%;
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background-color: deepskyblue;
	border: 2px solid deepskyblue;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

/*how much it is spinning*/

.about-item:hover span {
	opacity: 1;
	border: 2px solid white;
	font-size: 42px;
	-webkit-transform: scale(1.1, 1.1) rotate(360deg);
	-moz-transform: scale(1.1, 1.1) rotate(360deg);
	-o-transform: scale(1.1, 1.1) rotate(360deg);
	transform: scale(1.1, 1.1) rotate(360deg);
}

/*when hovering over h2 it will increase in size*/

.about-item:hover h2 {
	opacity: 1;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

/*Background details styles*/

.about .lead {
	color: black;
	font-size: 14px;
	font-weight: bold;
}

/*1st section styles*/

#sec1 {
	margin-top: 120px;
	margin-bottom: 280px;
}

/*second section styles*/

#sec2 {
	margin-top: 135px;
	margin-bottom: 210px;
}

/*third section styles*/

#sec3 {
	margin-top: 100px;
	margin-bottom: 175px;
}

/*background colour*/

.bgcol {
	background: grey;
	height: 300px;
}

/*centering it*/

h2 {
	text-align: center;
}

/*the images size and make it circle*/

.testimg {
	width: 15%;
	height: 20%;
	border-radius: 50%;
}

/*adding shadow effect*/

.card {
	box-shadow: 8px 8px 20px -15px rgba(0, 0, 0, 0.75)
}

/*when hovering shadow grows*/

.card:hover {
	box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75)
}

/*sex card height*/

.card-body {
	height: 350px;
}